<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up Form</h1>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for m in mf %}
            {{m.label_tag}} {{m}} {{m.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit">
    </form>
    <br>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
</body>
</html>