<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Page</h1>

    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% if mf.non_field_errors %}
            {% for error in mf.non_field_errors %}
                {{error}}
            {% endfor %}
        {% endif %}
        <br>
        {% for m in mf %}
            {{m.label_tag}} {{m}} {{m.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit">
    </form>
    <a href="{% url "signup" %}"><button type="button">Sign Up</button></a>

</body>
</html>