<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Password Change Form</h1>
    {% if mf.non_field_errors %}
        {% for error in mf.non_field_errors %}
            {{error}}
        {% endfor %}
    {% endif %}
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% for m in mf %}
            {{m.label_tag}} {{m}}  {{m.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit">
    </form>
    <br>
   
</body>
</html>